@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mitr&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "~bootstrap/scss/bootstrap.scss";
$font-stack: "Space Mono", monospace;

.project-heading {
  display: flex;
}

.project-list {
  display: inline-block;
  margin-left: 20em;
  margin-right: 20em;
}

.input-field {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-left: 16em;
  padding-bottom: 1em;
}

.list-group {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  // margin-right: 20em;
}

.list-group-item {
  font-family: "Montserrat", sans-serif;
  color: black;
  // position: relative;
  justify-content: flex-start;
  font-style: normal;
}

.mb-3 {
  .input-group {
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 100%;
  }
}

.bottom-buttons {
  display: flex;
  justify-content: space-around;
  margin-left: 16em;
  width: 50%;
}

.btn {
  display: flex;
  position: relative;
  align-items: center;
}
