@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "~bootstrap/scss/bootstrap.scss";
$font-stack: "Space Mono", monospace;

.new-project-body {
  display: flex;
  font-family: $font-stack;
}

h2 {
  font-family: $font-stack;
}

h5 {
  font-family: $font-stack;
}

// .modal-dialog {
//   display: inline-block;
//   text-align: center;
//   vertical-align: middle;
// }
